.form-header{
    margin: 1em;
 }

.form-message{
    margin: 1em auto;
}

.form-input-number{
    display: block;
    width: 70%;
    margin:1em auto;
}

.form-btn-submit{
    padding: 0.3em 0.7em;
    margin-bottom: 1em;
}