.app{
    text-align: center;
}

.modal{
    display: inline-block;
    width: 250px;
    height: auto;
    margin: 8px;

    text-align: center;

    -webkit-border-radius:1em;
    -moz-border-radius:1em;
    border-radius:1em;

    border: 2px solid;
}